body {
  margin: 0 auto;
  width: 100vw;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
}
input,
textarea,
button {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  border: none;
}

h1 {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 55px;
  line-height: 60px;
}

h2 {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 35px;
  line-height: 40px;
}

main {
  display: flex;
  justify-content: space-around;
}

section {
  width: 45%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-title-input,
.post-text-input {
  width: 100%;
  padding: 10px 20px;
  font-size: 32px;
  line-height: 40px;

  border: 1px solid black;
}
.post-title-input {
  height: 60px;
}

.post-text-input {
  height: 250px;
}

.post-title-validation-message,
.post-text-validation-message {
  font-size: 32px;
  line-height: 39px;
}

.post-publish-btn {
  width: 100%;
  padding: 5px 10px;
  font-size: 28px;
  line-height: 39px;
  color: white;
  background-color: #0094ff;
}
.inputErrorMessage {
  margin-bottom: 30px;
  font-size: 38px;
  line-height: 45px;
  color: red;
}

/* output */

.output-area__title {
  position: relative;
  display: flex;
}

.clearPostsListBtn {
  position: absolute;
  top: 7px;
  left: 125px;
  padding: 5px 10px;
  font-size: 20px;
  line-height: 25px;
  background-color: #0094ff;
  color: white;
  text-align: center;
}
.posts {
  display: flex;
  flex-direction: column-reverse;
}
.emptyPosts {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  opacity: 0.5;
}
.post-date {
  margin-bottom: 15px;
  color: #0094ff;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
}
.post-title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  word-wrap: break-word;
}
.post-text {
  margin-bottom: 50px;
  font-size: 25px;
  line-height: 30px;
  word-wrap: break-word;
}

/* стили для JS */
.borderRed {
  border: 2px solid red;
  color: red;
}
.overLength {
  color: red;
}

.invisible {
  opacity: 0;
}

@media (max-width: 700px) {
  main {
    flex-direction: column;
    padding-inline: 25px;
  }
  section {
    width: 100%;
  }
}
