h1 {
  text-align: center;
}
main {
  display: flex;
  gap: 100px;
  justify-content: space-around;
}

section {
  width: 35vw;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.overLength {
  color: red;
}

.invisible {
  opacity: 0;
}
